@{
    ViewData["Title"] = "Add Item Error";
}

<div class="text-center">
    <h1 class="display-4"><b>SORRY</b></h1>
    <p><b>Name already exists</b></p>
    <p><b>Please <a href="~/AddItem/AddItem">try again</a>.</b></p>

</div>
