@{
    ViewData["Title"] = "Add Item Success";
}

<div class="text-center">
    <h1 class="display-4"><b>Congrats</b></h1>
    <p><b>Item added successfully</b></p>
    <p><b>Please <a href="~/AdminPage/AdminPage">Click Here</a>.</b></p>

</div>
